.markdown-body {
    font-family: sans-serif;
}

.markdown-body h1 {
    font-size: 2em;
}

.markdown-body h2 {
    font-size: 1.5em;
}

.markdown-body h3 {
    font-size: 1.2em;
}

.markdown-body p {
    line-height: 1.5;
}

.markdown-body code {
    font-family: monospace;
    background-color: #eee;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

.markdown-body pre {
    background-color: #eee;
    padding: 1em;
    border-radius: 3px;
    overflow: auto;
}
